@{
    ViewData["Title"] = "Login Or Register";
}

    
<div class="container">
    <div>
        <img src="~/images/dojoGate.png" width="30px">
        <h2 style="display: inline"> Welcome to Dojo Info Center </h2>
        <img src="~/images/dojoGate.png" width="30px">
    </div>
        <p>where you can post community info for other ninjas to see</p>

<div class="row">
<div class="one-half column">
<!-- <partial name = "Register"/> -->
@Html.Partial("Register")
</div>

<div class="one-half column">
<!-- <partial name = "Login"/> -->
@Html.Partial("Login")
</div>

</div>
</div>