@{
    ViewData["Title"] = "Home Page";
}
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!-- <div class="container"> -->
    <!-- <div class="row"> -->
        <!-- <div class=""> -->
            @Html.Partial("Map")
        <!-- </div> -->
        <!-- <div class="three columns"> -->
            <!-- @Html.Partial("ActivityLog") -->
        <!-- </div> -->
    <!-- </div> -->
<!-- </div> -->