<div class="container">
    <!-- 1 -->
    <div class="row">
        <div class="six columns">
            <div id="mean" class="troom">Mean</div>
        </div>
        <div class="six columns">
            <div id="BR" class="sroom">Breakout Rooms</div>
            <div id="alumni" class="sroom">Alumni</div>
        </div>
    </div>
    <!-- 2 -->
    <div class="row">
        <div class="six columns">
            <div id="python" class="troom">Python</div>
        </div>
        <div class="six columns">
            <div id="dnwb" class="sroom">Bathroom</div>
            <div id="dnmb" class="sroom">Bathroom</div>
        </div>
    </div>
    <!-- 3 -->
    <div class="row">
        <div class="troom">
            <div id="info">Dojo Info Center</div>
        </div>
    </div>
    <!-- 4 -->
    <div class="row">
        <div class="six columns">
            <div class="troom" id="pp">Ping Pong</div>
        </div>
        <div class="six columns">
            <div class="sroom" id="kitchen">Kitchen</div>
            <div class="row">
                <div class="six columns">
                    <div class="sroom" id="pres">Presentation</div>
                </div>
                <div class="six columns">
                    <div class="sroom" id="couch">Couch</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 5 -->
    <div class="row">
        <div class="six columns">
            <div class="six columns">
                <div class="troom" id="tl">Teacher's Lounge</div>
            </div>
            <div class="six columns">
                <div class="sroom" id="dsmb">Bathroom</div>
                <div class="sroom" id="dswb">Bathroom</div>
            </div>
        </div>
        <div class="six columns">
            <div class="troom" id="wf">Web Fundamentals</div>
        </div>
    </div>
    <!-- 6 -->
    <div class="row">
        <div class="six columns">
            <div class="troom" id="c">C#</div>
        </div>
        <div class="six columns">
            <div class="troom" id="flex">Felx Space</div>
        </div>
    </div>
</div>