<div class="container">
    <!-- 1 -->
    <div class="row">
        <div class="six columns">
            <a href="/mean"><div id="mean" class="troom">Mean</div></a>
        </div>
        <div class="six columns">
            <a href="/breakout"><div id="BR" class="sroom">Breakout Rooms</div></a>
            <a href="/alumni"><div id="alumni" class="sroom">Alumni</div></a>
        </div>
    </div>
    <!-- 2 -->
    <div class="row">
        <div class="six columns">
            <a href="/python"><div id="python" class="troom">Python</div></a>
        </div>
        <div class="six columns">
            <a href="/northwomans"><div id="dnwb" class="sroom">Bathroom</div></a>
            <a href="/northmens"><div id="dnmb" class="sroom">Bathroom</div></a>
        </div>
    </div>
    <!-- 3 -->
    <div class="row">
        <div class="troom">
            <a href="/info"><div id="info">Dojo Info Center</div></a>
        </div>
    </div>
    <!-- 4 -->
    <div class="row">
        <div class="six columns">
            <a href="/python"><div class="troom" id="pp">Ping Pong</div></a>
        </div>
        <div class="six columns">
            <div class="sroom" id="kitchen">Kitchen</div></a>
            <div class="row">
                <div class="six columns">
                    <a href="/pres"><div class="sroom" id="pres">Presentation</div></a>
                </div>
                <div class="six columns">
                    <a href="/couch"><div class="sroom" id="couch">Couch</div></a>
                </div>
            </div>
        </div>
    </div>
    <!-- 5 -->
    <div class="row">
        <div class="six columns">
            <div class="six columns">
                <a href="/teacher"><div class="troom" id="tl">Teacher's Lounge</div></a>
            </div>
            <div class="six columns">
                <a href="/southmens"><div class="sroom" id="dsmb">Bathroom</div></a>
                <div class="sroom" id="dswb">Bathroom</div></a>
            </div>
        </div>
        <div class="six columns">
            <a href="/webfund"><div class="troom" id="wf">Web Fundamentals</div></a>
        </div>
    </div>
    <!-- 6 -->
    <div class="row">
        <div class="six columns">
            <a href="/sharp"><div class="troom" id="c">C#</div></a>
        </div>
        <div class="six columns">
            <a href="/flex"><div class="troom" id="flex">Felx Space</div></a>
        </div>
    </div>
</div>