
<div class="container">
    <div>
        <!-- <img src="~/images/dojoGate.png" width="30px"> -->
        <h3 style="display: inline"> Dojo Info Center </h3>
        <a href="/logout" style="vertical-align: right"><button>Logout</button></a>
        <!-- <img src="~/images/dojoGate.png" width="30px"> -->
    </div>

    <partial name="Latest"/>
    <partial name="Map"/>
    
</div>

