
<div class="container">
    <div>
        <!-- <img src="~/images/dojoGate.png" width="30px"> -->
        <h3 style="display: inline"> Dojo Info Center </h3>
        <a href="/logout" class="logout"><button>Logout</button></a>
        <!-- <img src="~/images/dojoGate.png" width="30px"> -->
        <p>Click on each area of the map to see posts and add a new post!</p>
    </div>

    <div class="Latest_activity"><partial name="Latest"/></div>
    <partial name="Map"/>
    
</div>

