<div class="container">
    <!-- 1 -->
<button class="open">Open</button>
    <!--Creates the popup body-->
<div class="popup-overlay">
    <!--Creates the popup content-->
    <div class="popup-content">
        <h2>Pop-Up</h2>
    </div>
</div>
<button class="close">Close</button>


    <div class="row">
        <div class="six columns">
            <div id="mean" class="troom Room" data-room="mean">Mean</div></a>
        </div>
        <div class="six columns">
            <div id="BR" class="sroom Room" data-room="breakoutRoom">Breakout Rooms</div>
            <div id="alumni" class="sroom Room" data-room="alumni">Alumni</div>
        </div>
    </div>
    <!-- 2 -->
    <div class="row">
        <div class="six columns">
            <div id="python" class="troom Room" data-room="python">Python</div>
        </div>
        <div class="six columns">
            <div id="dnwb" class="sroom Room" data-room="northWomens">Womens Bathroom</div>
            <div id="dnmb" class="sroom Room" data-room="northMens">Mens Bathroom</div>
        </div>
    </div>
    <!-- 3 -->
    <div class="row">
        <div id="info" class="troom Room" data-room="info">Dojo Info Center</div>
    </div>
    <!-- 4 -->
    <div class="row">
        <div class="six columns">
            <div class="troom Room" id="pp" data-room="pingPong">Ping Pong</div>
        </div>
        <div class="six columns">
            <div class="sroom Room" id="kitchen" data-room="kitchen">Kitchen</div>
            <div class="row">
                <div class="six columns">
                    <div class="sroom Room" id="pres" data-room="presentation">Presentation</div>
                </div>
                <div class="six columns">
                    <div class="sroom Room" id="couch" data-room="couch">Couch</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 5 -->
    <div class="row">
        <div class="six columns">
            <div class="six columns">
                <div class="troom Room" id="tl" data-room="teachersLounge">Teacher's Lounge</div>
            </div>
            <div class="six columns">
                <div class="sroom Room" id="dsmb" data-room="southMens">Mens Bathroom</div>
                <div class="sroom Room" id="dswb" data-room="southWomens">Womens Bathroom</div></a>
            </div>
        </div>
        <div class="six columns">
            <div class="troom Room" id="wf" data-room="webFund">Web Fundamentals</div>
        </div>
    </div>
    <!-- 6 -->
    <div class="row">
        <div class="six columns">
            <div class="troom Room" id="c" data-room="cSharp">C#</div>
        </div>
        <div class="six columns">
            <div class="troom Room" id="flex" data-room="flexSpace">Felx Space</div>
        </div>
    </div>
</div>