<div class="container">

<button class="open">Open</button>
    <!--Creates the popup body-->
<div class="popup-overlay">
    <!--Creates the popup content-->
    <div class="popup-content">
        <h2>Pop-Up</h2>
    </div>
</div>
<button class="close">Close</button>

    <!-- 1 -->
    <div class="row">
        <div class="six columns">
            <div id="mean" class="troom Room" data-room="Mean">Mean</div></a>
        </div>
        <div class="six columns">
            <div id="BR" class="sroom Room" data-room="BreakoutRoom">Breakout Rooms</div>
            <div id="alumni" class="sroom Room" data-room="Alumni">Alumni</div>
        </div>
    </div>
    <!-- 2 -->
    <div class="row">
        <div class="six columns">
            <div id="python" class="troom Room" data-room="Python">Python</div>
        </div>
        <div class="six columns">
            <div id="dnwb" class="sroom Room" data-room="NorthWomens">Womens Bathroom</div>
            <div id="dnmb" class="sroom Room" data-room="NorthMens">Mens Bathroom</div>
        </div>
    </div>
    <!-- 3 -->
    <div class="row">
        <div id="info" class="troom Room" data-room="Info">Dojo Info Center</div>
    </div>
    <!-- 4 -->
    <div class="row">
        <div class="six columns">
            <div class="troom Room" id="pp" data-room="PingPong">Ping Pong</div>
        </div>
        <div class="six columns">
            <div class="sroom Room" id="kitchen" data-room="Kitchen">Kitchen</div>
            <div class="row">
                <div class="six columns">
                    <div class="sroom Room" id="pres" data-room="Presentation">Presentation</div>
                </div>
                <div class="six columns">
                    <div class="sroom Room" id="couch" data-room="Couch">Couch</div>
                </div>
            </div>
        </div>
    </div>
    <!-- 5 -->
    <div class="row">
        <div class="six columns">
            <div class="six columns">
                <div class="troom Room" id="tl" data-room="TeachersLounge">Teacher's Lounge</div>
            </div>
            <div class="six columns">
                <div class="sroom Room" id="dsmb" data-room="SouthMens">Mens Bathroom</div>
                <div class="sroom Room" id="dswb" data-room="SouthWomens">Womens Bathroom</div></a>
            </div>
        </div>
        <div class="six columns">
            <div class="troom Room" id="wf" data-room="WebFund">Web Fundamentals</div>
        </div>
    </div>
    <!-- 6 -->
    <div class="row">
        <div class="six columns">
            <div class="troom Room" id="c" data-room="CSharp">C#</div>
        </div>
        <div class="six columns">
            <div class="troom Room" id="flex" data-room="FlexSpace">Felx Space</div>
        </div>
    </div>
</div>