@using DojoInfoCenter.Models

<div class="container">
<div class="row">

<div class="popup-overlay">
    <!--Creates the popup content-->
    <div class="popup-content">
        <h2>Pop-Up</h2>
    </div>
</div>
<button class="close">Close pop-up</button>
<a href="/logout"><button>Logout</button></a>
</div>

    <!-- 1 -->
    <div class="row">
        <div class="six columns">
            <div id="mean" class="troom Room" data-room="Mean">
                <img src="~/images/MEAN.png" alt="mean">
                </div>
        </div>
        <div class="six columns">
            <div id="BR" class="sroom Room" data-room="BreakoutRoom">Breakout Rooms</div>
            <div id="alumni" class="sroom Room" data-room="Alumni">
                <img src="~/images/alumni.png" alt="alumni">
                <div class="text">Alumni</div>
            </div>
        </div>
    </div>
    <!-- 2 -->
    <div class="row">
        <div class="six columns">
            <div id="python" class="troom Room" data-room="Python">
                <img src="~/images/Python.png" alt="Python">
            </div>
        </div>
        <div class="six columns">
            <div id="dnwb" class="sroom Room" data-room="NorthWomens">
            <img src="~/images/Female_Bathroom_Symbol.png" alt="Female_Bathroom_Symbol">                                    
            </div>
            <div id="dnmb" class="sroom Room" data-room="NorthMens">
                <img src="~/images/Male_Bathroom_Symbol.png" alt="Male_Bathroom_Symbol">
            </div>
        </div>
    </div>
    <!-- 3 -->
    <div class="row">
        <div id="info" class="troom Room" data-room="Info">
            <img src="~/images/logo.png" alt="logo">
        </div>
    </div>
    <!-- 4 -->
    <div class="row">
        <div class="six columns">
            <div class="troom Room" id="pp" data-room="PingPong">
            <img src="~/images/ping-pong.png" alt="ping-pong">                
            </div>
        </div>
        <div class="six columns">
            <div class="sroom Room" id="kitchen" data-room="Kitchen">
                <img src="~/images/kitchen.png" alt="kitchen">                             
            </div>
            <div class="row">
                <div class="six columns">
                    <div class="sroom Room" id="pres" data-room="Presentation">
                        <img src="~/images/presentation.png" alt="presentation"> 
                        Presentation
                    </div>
                </div>
                <div class="six columns">
                    <div class="sroom Room" id="couch" data-room="Couch">
                        <img src="~/images/couch.png" alt="couch">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 5 -->
    <div class="row">
        <div class="six columns">
            <div class="six columns">
                <div class="troom Room" id="tl" data-room="TeachersLounge">Teacher's Lounge</div>
            </div>
            <div class="six columns">
                <div class="sroom Room" id="dsmb" data-room="SouthMens">
                    <img src="~/images/Male_Bathroom_Symbol.png" alt="Male_Bathroom_Symbol">
                </div>
                <div class="sroom Room" id="dswb" data-room="SouthWomens">
                    <img src="~/images/Female_Bathroom_Symbol.png" alt="Female_Bathroom_Symbol">                    
                </div></a>
            </div>
        </div>
        <div class="six columns">
            <div class="troom Room" id="wf" data-room="WebFund">
                <img src="~/images/HTML.png" alt="Web Fundamentals">
            </div>
        </div>
    </div>
    <!-- 6 -->
    <div class="row">
        <div class="six columns">
            <div class="troom Room" id="c" data-room="CSharp">
                <img src="~/images/c-sharp.png" alt="c-sharp">
            </div>
        </div>
        <div class="six columns">
            <div class="troom Room" id="flex" data-room="FlexSpace">
            <img src="~/images/umm.png" alt="flex space">                
            </div>
        </div>
    </div>
</div>