/* for general styling */
body{
    background-image: radial-gradient(white, white, #14a6da);
    background-repeat: no-repeat;
}

button
{
    background-color: white;
}

.logout{
    margin-left: 10%;
    text-decoration: none;
}

textarea{
    min-width: 40%;
    min-height: 20%;
}

p, form{
    margin: 0;
}

/* for the top latest activity box */
.Latest_activity {
    margin: 30px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 7px;
    box-shadow: 5px 5px 15px #555;
    background-color: white;
    max-height: 200px;
    overflow: auto;
    /* background-image: linear-gradient(#555, white,white, white, white, white, #555) */
}
.Latest_activity *{
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/* for the pop-up messages */
.popup-overlay{
    visibility:hidden;
    position: fixed;
    background:#ffffff;
    border:3px solid #666666;
    overflow: auto;
    padding: 1%;
    max-height: 300px;
    min-width: 25%;
    max-width: 60%;
    left: 30%;
    top: 30%;
}

.popup-content {
    /*Hides pop-up content when there is no "active" class */
    visibility:hidden;
}

.active{
  /*displays pop-up when "active" class is present*/
    visibility:visible;
}


.text {
    visibility: hidden;
}

.hover
{
    outline: 2px dotted black;
}


/* for the map layout */
.troom
{
    display: block;
    width: 100%;
    height: 400px;
    line-height: 400px;
    color: white;
    text-align: center;
}
.sroom
{
    display: block;
    width: 100%;
    height: 200px;
    line-height: 200px;
    color: white;
    text-align: center;
}

.troom img
{
    vertical-align: middle;
    height: 50%;
    width: 75%;
}
.sroom img
{
    vertical-align: middle;
    height: 75%;
    width: 50%;
}

#mean
{
    /* background-image: url("~/images/MEAN.png"); */
    background-color: #86bb4b;
}

#BR
{
    background-color: #692c66;
}

#alumni
{
    background-color: #e44f26;
}

#python
{
    background-color: #3573a2;
}

#dnwb
{
    background-color: pink;
}

#dnmb
{
    background-color: lightblue;
}

#info
{
    background-color: white;
}

#pp
{
    background-color: #692c66;
}

#kitchen
{
    background-color: #e44f26;
}

#pres
{
    background-color: #86bb4b;
}

#couch
{
    background-color: #3573a2;
}

#tl
{
    background-color: #3573a2;
}

#dswb
{
    background-color: pink;    
}

#dsmb
{
    background-color: lightblue;    
}

#wf
{
    background-color: #e44f26;    
}

#c
{
    background-color: #692c66;    
}

#flex
{
    background-color: #86bb4b;    
}

